:root {
  --technological-blue: #0a2342;
  --basic-gray: #454545;
  --innovative-blue: #007acc;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--technological-blue);
  padding: 0.5rem 0;
  margin-bottom: 0;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
  padding: 5px;
}

nav a {
  color: white;
  text-decoration: none;
}



footer {
  background-color: var(--technological-blue);
  color: white;
  padding: 1rem 0;
  text-align: center;
}
